.Body{
    background: white;
    margin:1% 8%
}

h1{
    margin:0px;
}

h2{
    margin:0;
    padding:2vh;
}

.input-container {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin:2vh 40vh;
    background-color: lightblue;
    box-sizing:border-box;
    border: 3px dashed black;
    border-radius: 25px;
    z-index: 0;
}

.input-container:hover{
    background-color:#99C4DC
}

.file{
    position: relative;
    width:100%;
    padding:10vh 0vh;
    opacity:100%;
    z-index: inherit;
}

.Inference-button{
    margin-bottom:2vh;
    padding:5vh 15vh;
    font-size:15px;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 25px;
}

.Inference-button:hover{
    background-color: #99C4DC;
}

/*OUTPUT BOX*/

.Output{
    background: white;
    margin-right:8%;
    margin-left:8%;
    margin-bottom: 2%;
    padding:2%

}

.Output-container{
    background: lightblue;
    margin: 2vh 40vh;
    padding: 5vh 0vh;
    border: 3px dashed black;
    border-radius: 25px;
}
